body{
  background-color:lightgrey;
  width:100%;
  font-size: 20px;
  text-align:center;
}

.header{
  padding: 0 0 15;
}

h1{
margin: 15 0 0 0;
}

p{
  margin: 5 0 0 0;
}
figure {
  background-color:white;
  width: 85%;
  margin: auto;
  padding: 25 0 10;
}

img{
  display: block;
  width: 75%;
  margin: auto;
  padding: 10 0 10;
}

figcaption{
  font-size: 18px;
}
.info, .quote{
  max-width: 55%;
  margin: auto;
  }
.achivhead{
  font-size: 35;
  margin-top: 20px ;
}

ul{
  padding-left: 100px;
}

li {
  text-align:left;
}

.quote {
  font-weight: bold;
  font-size: 22;
  padding: 0 0 25
}




